$OR: #112c3a;
$YW: #f6a60d;
$lightblue: "#3dcbac";
$darkBlue: "#309bc6";
$pink: "#f14962";
@font-face {
    font-family: Roboto;
    src: url(../public/Fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: url(../public/Fonts/Raleway/Raleway-LightItalic.ttf);
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    // Fun Font
    font-family: GamjaFlower;
    src: url(../public/Fonts/GamjaFlowerLight.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;

    color: $OR;
}
.common_style {
    text-align: right;
    img {
        object-fit: contain;
    }
}
@media (min-width: 922px) {
    body {
        max-width: 1280px;
        margin: auto !important;
    }
}
@media (max-width: 768px) {
    .mbody .about_section {
        margin-top: 0;
        .container .row {
            flex-direction: column;
        }
    }
    .admission_section,
    .determine_section {
        .container .row {
            flex-direction: column-reverse;
        }
    }
    .mbody .common_style img {
        width: 60%;
        height: auto;
        // margin-top: 0;
    }
    .common_style p {
        font-size: 0.8rem;
    }
    .mbody .common_style > section {
        margin-top: 1rem;
        padding: 0;
    }
}
